 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #30546F;
active-foreground: #D0DFEA;
normal-background: #05090C;
normal-foreground: #D0DFEA;
urgent-background: #30546F;
urgent-foreground: #D0DFEA;

alternate-active-background: #30546F;
alternate-active-foreground: #D0DFEA;
alternate-normal-background: #05090C;
alternate-normal-foreground: #D0DFEA;
alternate-urgent-background: #05090C;
alternate-urgent-foreground: #D0DFEA;

selected-active-background: #30546F;
selected-active-foreground: #D0DFEA;
selected-normal-background: #30546F;
selected-normal-foreground: #D0DFEA;
selected-urgent-background: #30546F;
selected-urgent-foreground: #D0DFEA;

background-color: #05090C;
background: rgba(0,0,0,0.7);
foreground: #D0DFEA;
border-color: #30546F;

color0: #3E4042;
color1: #78A3C3;
color2: #78A3C3;
color3: #30546F;
color4: #30546F;
color5: #30546F;
color6: #30546F;
color7: #B3C9D9;
color8: #7D8C98;
color9: #78A3C3;
color10: #78A3C3;
color11: #30546F;
color12: #30546F;
color13: #30546F;
color14: #30546F;
color15: #B3C9D9;


}

