 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #980317;
active-foreground: #FEC0C8;
normal-background: #1C1213;
normal-foreground: #FEC0C8;
urgent-background: #FB4B61;
urgent-foreground: #FEC0C8;

alternate-active-background: #980317;
alternate-active-foreground: #FEC0C8;
alternate-normal-background: #1C1213;
alternate-normal-foreground: #FEC0C8;
alternate-urgent-background: #1C1213;
alternate-urgent-foreground: #FEC0C8;

selected-active-background: #FB4B61;
selected-active-foreground: #FEC0C8;
selected-normal-background: #FB4B61;
selected-normal-foreground: #FEC0C8;
selected-urgent-background: #980317;
selected-urgent-foreground: #FEC0C8;

background-color: #1C1213;
background: rgba(0,0,0,0.7);
foreground: #FEC0C8;
border-color: #980317;

color0: #443A3A;
color1: #310307;
color2: #310307;
color3: #980317;
color4: #980317;
color5: #FB4B61;
color6: #FB4B61;
color7: #F59DA8;
color8: #AB6E75;
color9: #310307;
color10: #310307;
color11: #980317;
color12: #980317;
color13: #FB4B61;
color14: #FB4B61;
color15: #F59DA8;


}

