 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #133835;
active-foreground: #AAB6B6;
normal-background: #04150B;
normal-foreground: #AAB6B6;
urgent-background: #0F3432;
urgent-foreground: #AAB6B6;

alternate-active-background: #2C6F5D;
alternate-active-foreground: #AAB6B6;
alternate-normal-background: #04150B;
alternate-normal-foreground: #AAB6B6;
alternate-urgent-background: #04150B;
alternate-urgent-foreground: #AAB6B6;

selected-active-background: #0F3432;
selected-active-foreground: #AAB6B6;
selected-normal-background: #0F3432;
selected-normal-foreground: #AAB6B6;
selected-urgent-background: #133835;
selected-urgent-foreground: #AAB6B6;

background-color: #04150B;
background: rgba(0,0,0,0.7);
foreground: #AAB6B6;
border-color: #133835;

color0: #323F37;
color1: #3A8C73;
color2: #3A735D;
color3: #2C6F5D;
color4: #133835;
color5: #0F3432;
color6: #0C2E2E;
color7: #7D8E8E;
color8: #586363;
color9: #3A8C73;
color10: #3A735D;
color11: #2C6F5D;
color12: #133835;
color13: #0F3432;
color14: #0C2E2E;
color15: #7D8E8E;


}

