/* ROFI SQUARED THEME USING THE MATERIAL DARKER PALETTE  */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    font:   "FiraCode Nerd Font Medium 12";

    bg0:     #121010;
    bg1:     #080707;
    fg0:     #f2da96;

    accent-color:     #d17b1f;
    urgent-color:     #ffcb6b;

    background-color:   transparent;
    text-color:         @fg0;

    margin:     0;
    padding:    0;
    spacing:    0;

}

window {
    location:   center;
    width:      300;
	height: 300;
   // background-color:   @bg0;
   // background-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);
   

    border: 1.5px;
    border-color: #f2da96;
    border-radius: 20px;
}

inputbar {
    spacing:    8px;
    padding:    8px;

    background-color:   transparent;
}

prompt, entry, element-icon, element-text {
    vertical-align: 0.5;
}

prompt {
    text-color: @accent-color;
}

textbox {
    padding:            8px;
    background-color:   transparent;
}

listview {
    padding:    4px 0;
    lines:      8;
    columns:    1;

    fixed-height:   true;
}

element {
    padding:    8px;
    spacing:    8px;
}

element normal normal {
    text-color: @fg0;
}

element normal urgent {
    text-color: @urgent-color;
}

element normal active {
    text-color: @accent-color;
}

element alternate active {
    text-color: @accent-color;
}

element selected {
    text-color: @bg0;
}

element selected normal, element selected active {
    background-color:   @accent-color;
}

element selected urgent {
    background-color:   @urgent-color;
}

element-icon {
    size:   0.8em;
}

element-text {
    text-color: inherit;
}
